@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: red;">Hotel </h1>
    <p style="color: grey;">Bem vindo ao site oficial do hotel </p>
</div>
